body {

}
#title {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 4em;
  color: #f27760;
}

#entry {
  padding: inherit;
}

#text {
  border: 1px solid #191970;
  border-radius: 18px;
  padding: 14px 44px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  height: 4em;
  width: 40em;
}

#offsetSelector {
  border: 1px solid #191970;
  opacity: 0.7;
  display: block;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

#encodeButton, #decodeButton {
  background-color: #f27760;
  border-radius: 10px;
  color: white;
  padding: 8px 32px;
  font-size: 18px;
  opacity: 0.8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

#product {
  visibility: hidden;
}

#originalText {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  border: 1px solid #191970;
}

#resultText {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  border: 1px solid #191970;
}

#panicButton {
  border-radius: 100%;
  border: .3px solid red;
  box-shadow: 0px 0px 20px , 0px 0px 50px orangered, 0px 0px 10px red;
  font-family: impact;
  font-size: 18px;
  background-color: #e53030;
  color: mintcream;
  padding: 20px 20px 20px 20px;
  display: block;
  margin-left: auto;
  margin-right: inherit;
  margin-top: -200px;
  height: 100px;
  width: 100px;
}
